<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border> <!--not in video instructions-->
  <ion-navbar transparent> <!--not in video instructions-->
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{cityName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="slides-page" setbackground bg-image = "{{bgImage}}">
<ion-slides>
    <ion-slide *ngFor="let slide of Slides">
      <ion-card class="current-temp">
        <ion-card-content class="cardContent">
          <ion-grid>
          <ion-row>
            <ion-col width-50 offset-25>
              <h2 class="temp">{{ slide.current.main.temp  }}&deg;</h2> 
              <ion-avatar><img src="{{ slide.icon }}"></ion-avatar>
              <h3 class="desc">{{ slide.current.weather[0].description }}</h3>
            </ion-col>
          </ion-row>
          <ion-row class="row-content">
            <ion-col col-4>{{ windDirection(slide.current.wind.deg) }}</ion-col>
            <ion-col col-4>{{ slide.current.wind.speed }} MPH</ion-col>
            <ion-col col-4>{{ slide.current.main.humidity}}%</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
       
       
    

       <ion-card class="card-ion" style="margin-bottom: 30px !important">
        <ion-card-content>
          <ion-card-header>5 Days Forecast</ion-card-header>
          <ion-grid class="card-grid">
            <ion-row *ngFor="let forecast of slide.forecast.list; let i = index">
              <ion-col col-3>{{ GetDay(forecast.dt) }}</ion-col>
              <ion-col col-3>{{ GetDate(forecast.dt) }}</ion-col>
              <ion-col col-3 class="col-img" >
                <img src="http://openweathermap.org/img/w/{{forecast.weather[0].icon}}.png">
              </ion-col>
               <!-- <ion-col col-3>{{ forecast.temp.day }}&deg;</ion-col> -->
               <ion-col col-3>{{ slide.forecast.list[i].main.temp}}&deg;</ion-col>
               
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
     
       </ion-slide>
       </ion-slides>
            

}
